//colors
$primary: #F779DA;
$secondary: #8D4EB9;
$tertiary: #99E2D0;

//greys
$light-grey: #FDFDFD;
$medium-grey: #F6F6F6;
$dark-grey: #E9E9E9;

//shadows
$net-shadow: 0 2px 3px grey;
$soft-shadow: 0 5px 12px grey;