//typography
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);

$font-family-sans-serif: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-serif: 'Shrikhand', Georgia, serif;

* {
    font-family: $font-family-sans-serif;
}

h1, 
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

.second-title {
    font-size: 1.3rem;

    &.script {
        font-family: $font-family-serif;
    }
}

.category-title {
    font-weight: 300;
    text-transform: uppercase;

    &:after {
        content:"";
        display:block;
        border-bottom: 2px solid $tertiary;
        width: 40px;
    }
}