#restaurant-page{
    .img-cover {
        width: 100%;
        height: 400px;
        overflow: hidden;

        > img {
            @extend .img-size;
        }
    }

    .menu {
        background: $medium-grey;

        &-content {
            @extend .max-container;
            padding: 40px 0;
        }

        &-container {
            display: flex;
            gap: 15px;
            justify-content: space-between;
            margin: 40px 0;

            .menu-column {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .category-title {
                    margin-bottom: 20px;
                }
            }
        }
    }
}