#restaurant-page{
    .img-cover {
        width: 100%;
        height: 400px;
        overflow: hidden;

        > img {
            @extend .img-size;
        }
    }

    .menu {
        background: $medium-grey;

        &-content {
            @extend .max-container;
            padding: 40px 0;
        }

        &-container {
            margin: 40px 0;
            display: flex;
        }
    }
}