@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes width-to-large {
    from {
        margin-right: -120px;
    }
    to {
        margin-right: -20px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes gradual-onset {
    from {
        transform: translateY(40%);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}