@mixin animation($name, $duration, $timing-function:ease-in-out, $delay:0s, $fill-mode:none){
	animation:$name $duration $timing-function $delay $fill-mode;
}

@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}